@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-size: 100%;
    background-color: black;
    background-image: linear-gradient(135deg, #E601A4 0%, #3D5EEF 100%);
    background-repeat: no-repeat;
    font-family: 'Russo One', sans-serif;
}

main {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 25px;
}

footer {
    padding: 30px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: fixed;
}

.footer-disclaimer {
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.2;
    color: rgb(179, 179, 179);
    font-size: 0.7em;
    margin: 10px;
}
/**
.footer-menu {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.footer-menu-link {
    list-style-type: none;
}

.footer-menu-link a {
    color: rgb(179, 179, 179);
    text-decoration: none;
}
**/
.footer-text {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: rgb(179, 179, 179);
}

.logo {
    display: flex;
    justify-content: center;
}

.title {
    margin: 10px;
}

.title h1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-align: center;
}

.player {
    width: 100%;
    padding: 25px;
}

.video {
    width: 100%;
    margin: 0 auto;
    padding: 56.25% 0 0 0;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    border-radius: 3px;
}

#btn-hide {
    width: 100%;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    text-align: center;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 0 0 34px #fff;
    background-color: transparent;
    background-image: linear-gradient(145deg, #EDAC28 0%, #F2295B 100%);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    border-width: 1px 2px 3px 1px;
    border-color: #421887;
    padding: 15px 30px;
    border: none;
    text-decoration: none;
    
    width: 75%;
}

.btn-text {
    color: #ffffff;
}

.preco {
    text-align: center;
    line-height: 2;
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 430px) {
    body {
        height: 100vh;
    }
}
